.countdown {
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-primary);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%)); 
  clip-path: polygon(14.4% 50%, 92% 50%, 85.6% 70%, 8% 70%);
}

.countdown__clock {
  @include clock-dimensions;
  position: absolute;
  top: 52%;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.change-date {
  color: white !important;
  position: absolute;
  left: 21.5%;
  top: 45%;
  font-size: 18px;
  font-weight: 100;
  text-shadow: 1px 1px 3px black;

  transition: all .3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1)
  }

}

.message-container {
  @include clock-dimensions;
  @include center-item($pull-y: 0%);

  margin-top: 20px;
}

.message-container__title {
  @include center-item($top: 5%, $left: 10%, $pull-x: 0%, $pull-y: 0%);
  font-family: var(--roboto-condensed);
  color: var(--yellow-secondary);
  font-size: 22px;
}

.message-container__message {
  @include center-item($top: 25%, $left: 10%, $pull-x: 0%, $pull-y: 0%);
  font-family: var(--roboto-condensed);
  font-size: 5vw;
  font-weight: 900;
  width: 100%;
  height: 100px;

  background-image: url('../../images/vertical-pattern.png');
  // background-image: url('../../images/frosting3.png');
  // background-image: url('../../images/candles.png');
  background-size:10%;
  background-repeat:unset;
  // background-position-y: -90px;
  // background-position-y: -220px;
  -webkit-background-clip: text;
  color: transparent;

}


ul li {
  list-style: none;
  color: var(--yellow-secondary);
  font-size: 22px;
  font-family: var(--roboto-condensed);
  // text-shadow: 1px 1px 1px white

}

ul p {
  color: white;
  font-size: 6vw;
  line-height: 115px;
  text-shadow: 2px 2px 1px  var(--yellow-secondary);
  // background-image: url('../../images/vertical-pattern.png');
  // // background-image: url('../../images/frosting3.png');
  // // background-image: url('../../images/candles.png');
  // background-size:40%;
  // background-repeat:unset;
  // // background-position-y: -90px;
  // // background-position-y: -220px;
  // -webkit-background-clip: text;
  // color: transparent;
}

.until-container {
  @include center-item($top: 85%, $left: 50%);
}

h4 {
  font-size: 1.2em;
  text-shadow: 1px 1px 1px  var(--gray-secondary);

}